.topbar
  .topbar-inner
    .container
      = link_to "The Hotels", "#", :class => 'brand'
      %ul.nav
        -#%li= link_to "Dashboard", root_path
        %li{:class => ('active' if params[:section] == 'hotels')}= link_to "Hotels", hotels_path
        %li{:class => ('active' if params[:section] == 'booking')}= link_to 'Booking', root_path
        %li{:class => ('active' if params[:section] == 'settings')}= link_to 'Settings', root_path

      %ul.nav.secondary-nav
        - if user_signed_in?
          %li= link_to "Sign out", logout_path
        - else
          %li= link_to "Sign in", login_path