!!!
%html
  %head
    %title
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    = render "common/navigation"

    .container{style: 'margin-top: 40px;'}
      = render "common/alerts"
      = content_for?(:content) ? yield(:content) : yield

