= content_for(:page_header) do
  New Hotel

= simple_form_for resource do |hotel|
  = render partial: 'form', locals: { hotel: hotel }
  .actions
    = hotel.button :submit, 'Create Hotel', :class => 'primary'
    = link_to 'Cancel', hotels_path, :class => 'btn'